*{
	padding: 0px;
	margin:  0px;

}

header {
		background-color:  black;
}
#name-top-corner {
	font-size: 2rem !important;
	font-family: 'Tienne', serif;
}

#landing-header {
	font-size:  3rem;
	font-family: 'Poiret One', cursive;
		background-color:  black;
}

#contact-nav {
	background-color: #5221e6;
}

}

.navbar{
	margin-bottom: -1px;
}

section{
	margin:  -2px 0px;
}


#landing-page-container{
		max-height: 50vh;

}

#landing-page-section {
	margin-bottom: -1px;
	padding-bottom:  200px;
		background-color:  black;
}

#landing-image {
	max-height: 90%;
	max-width: 	100%;
}

#landing-page {
	background-color:  black;
	margin-bottom: -10px;
}

#know-better-button{
		background-color: #5221e6 !important;
		border: none;
		font-family: 'Cabin', sans-serif;
		letter-spacing: 0.2rem;
}

#projects-section {
	background-color:  black;
	margin-top:  -1px;
}
#projects-header{
	font-family: 'Cabin', sans-serif !important;
	font-size: 3rem !important;
	letter-spacing: 0.2em;
}

#front-end-project-button{
	background-color: #5221e6;
	border: none;
	width: 40%;
}

#cardTwo{
	height: 100%;
}

#cardThree{
		height: 100%;
}

#about-us-section{
	background-color:  black;
	margin-bottom: -1px;
}

#about-me-label{
	font-family: 'Cabin', sans-serif !important;
}

input	{
	background-color: #181823 !important;
}

textarea{
		background-color: #181823 !important;
}

h1 {
		font-family: 'Poiret One', cursive;
}

html	{
		scroll-behavior: smooth;
}

a{
	color: 	white !important	;
}

p {
	font-family: 'Cabin', sans-serif !important;
	letter-spacing: 0.1rem ;
}

#helloone{
			background-color:black;
}

#submitButton{
	background-color: #5221e6;
	height: 100px;
	font-family: 'Cabin', sans-serif;
	color: white;
	letter-spacing: 0.3em;
}

.card {
		background-color:  black !important;
}
#nameone{
	color: orange !important;
}

#about-me-label{
	font-size: 3rem;
}

#about-container {
	border-radius: 75px !important;
}

#personal-photo {
	border: 2px solid #20d43b !important;
}

#contacts-section {
	margin-bottom: -10px;
	background-color:  black;
}

.modal-header{
	border:  none !important;
	font-family: 'Poiret One', cursive;
}

.modal-footer {
	border:  none !important;
}


.card{
	background-color:  black;
}

.form-control{
	border: none !important;
}


#form-parent{
	max-height:  100% !important;
}



.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

footer{
	background-color: black;
	margin-top:  -50px;
}


