*{
	padding: 0px;
	margin:  0px;
	background-color:  black;

}

html	{
		scroll-behavior: smooth;
}

section{
	margin: -2px 0px;
}

h1 {
		font-family: 'Poiret One', cursive;
}

a{
	color: 	white;
}

p {
	font-family: 'Cabin', sans-serif !important;
	letter-spacing: 0.1rem ;
}

.section-header{
	font-family: 'Cabin', sans-serif !important;
	font-size: 3rem;
}


/* || Header Section */

.nav-link:hover, .nav-link:focus, .nav-link:active{
	background-color: #5221e6;
	color: black;
}

.navbar-nav>.active>a {
	background-color: #5221e6;
	color: green;
}

.navbar{
	margin-bottom: -1px;
	background-color: black;
}


/* || Landing Page Section */

#landing-header {
	font-size:  3rem;
	font-family: 'Poiret One', cursive;
	background-color:  black;
}

#landing-page-container{
	max-height: 100vh;
}

#landing-page-section {
	margin-bottom: -1px;

}

#landing-image {
	max-height: 90%;
	max-width: 	100%;
}

#landing-page {
	margin-bottom: -10px;
}

#know-better-button{
		background-color: #5221e6 !important;
		border: none;
		font-family: 'Cabin', sans-serif;
		letter-spacing: 0.2rem;
}

/* || About me Section */

#container-about-me{
	border-radius: 75px !important;
}

.span-highlight{
	color: #5221e6;
	font-size: 1.2em;
}

#about, #container-about-me > div, #container-personal-photo{
	background-color: transparent;
}

#container-personal-photo > div{
	width: 100%;
}

#personal-photo{
	width: 100%;
	max-height: 425px;
	max-width: 425px;
}

#personal-photo-cover{
		background-color: #000;
		opacity: 0.8;
}

/* || Projects Section*/

#projects-section {
	margin-top:  -1px;
}

.card{
	background-color:  transparent;
}

.container-card-contents{
	height: 100%;
}

.card-subtitle{
	color: orange !important;
}

.visit-page-button{
	background-color: #5221e6;
	border: none;
	width: 40%;
}

.card{
	height: 100%;
}

.card-container {
	min-height: 430px;
}
.card-img{
	height: 40%;
}

.card-img-top{
	height: 100%;
}

.container-card-description{
	min-height: 60%;
	width: 100%;
}

/* || Contact Section */

#contacts-section {
	margin-bottom: -10px;
}

input, textarea{
	background-color: #181823 !important;
}

#jumbotron-contact{
	background-color: transparent;
}

#submitButton{
	background-color: #5221e6;
	height: 100px;
	font-family: 'Cabin', sans-serif;
	color: white;
	letter-spacing: 0.3em;
	border: none;
}

.form-control{
	border: none !important;
}

#form-parent{
	max-height:  100% !important;
}

.fa{
  padding: 20px;
  font-size: 50px;
  width: 50px;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

footer{
	background-color: black;
	margin-top:  -50px;
}


/* || Thank you section */
#back-to-home{
	text-decoration: underline	;
	color: #5221e6 ;
}

